html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

* {
  background-color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.navBar {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-content: space-between;
  grid-template-columns: 50px 322.5px 50px;
  height: 50px;
  margin: 0;
  padding: 0%;
}

.logos {
  justify-content: center;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  cursor: pointer;
  padding: 0;
  border: none;
}

.navLink {
  grid-column: 2;
  width: 100%;
  position: relative;
  text-align: center;
}

.navLogo {
  align-self: center;
  height: 50px !important;
  width: 322.5px !important;
}

.navStatLogo {
  grid-column: 3;
  position: relative;
  width: 100%;
  text-align: right;
}

.statLogo {
  height: 30px;
  width: 30px;
  padding: 10px;
}

.letters {
  padding-top: 0px;
}

.row {
  display: flex;
  justify-content: center;
}

.rowBox {
  border: 2px solid darkgray;
  color: black;
  width: 80px;
  height: 80px;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 700;
  margin: 2px;
  text-align: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  top: -50%;
  line-height: 80px;
}

.gameover {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  margin: 0 auto;
  animation-name: fadeIn1;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 500ms;
}

.overContent {
  background-color: #fefefe;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  text-align: center;
  animation-name: fadeIn2;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 450ms;
}

.replay {
  background-color: #6aaa64;
  width: 50%;
  padding: 5px;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
}

.replay:hover, .replay:focus {
  --lightness-offset: 10%;
}

@keyframes fadeIn1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn2 {
	0% {
		opacity: 0;
    transform: translate3d(0, -20%, 0);
	}
	100% {
		opacity: 1;
    transform: translate3d(0, 0, 0);
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
  
.apply-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.apply-zoom {
  animation: zoom 0.45s ease;
}

@keyframes flip {
  0% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
} 

.apply-flip {
  animation: flip 0.45s ease;
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }  

  40% {
    transform: translateY(5%);
  }  

  60% {
    transform: translateY(-25%);
  }  

  80% {
    transform: translateY(2.5%);
  }  

  90% {
    transform: translateY(-5%);
  }  

  100% {
    transform: translateY(0);
  }
}

.apply-dance {
  animation: dance 500ms ease-in-out;
}

.break {
  padding: 30px;
}

.keyboard {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(20, minmax(auto, 2em));
  grid-auto-rows: 3em;
  gap: .25em;
  justify-content: center;
  text-align: center;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: .25em;
  cursor: pointer;
  user-select: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .rowBox {
      width: 100%;
      height: 170px;
      line-height: 170px;
      font-size: 100px;
    }
    .keyboard {
      grid-auto-rows: 9em;
      gap: .50em;
      padding-bottom: 0px !important;
    }
    .ltr {
      width: 85px;
    }
    .key {
      font-size: 30px;
    }
    .container {
      padding-top: 0px;
    }
    .navBar {
      display: none;
    }
}

.key.large {
  grid-column: span 3 !important;
}

.key:hover, .key:focus {
  --lightness-offset: 10%;
}

.key.wrong {
  --lightness: 23% !important;
}
  
.key.wrong-location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  --hue: 115 !important;
  --saturation: 29% !important;
  --lightness: 43% !important;
}

.bar {
  width: 80%;
  padding-top: 0%;
  margin: 0px;
  padding-bottom: 0%;
  display: inline-block;
  background-color: #ddd;
}

.skills {
  text-align: right;
  color: white;
  background-color: #6aaa64;
}

.statTxt {
  text-align: left;
  width: 10px;
  padding-right: 10px;
  display: inline-block;
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 0px;
}

.gameStats {
  display: block;
}

.stat-container {
  flex: 1;
  display: block;
  position: relative;
}

.statMainText {
  text-align: center;
  width: 100%;
  padding-bottom: 0%;
  height: 20px;
  position: relative;
}

.statContent {
  position: relative;
  display: flex;
}

.statNum {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.05em;
  justify-content: center;
}

.statLabel {
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


hr {
  height: 0px;
}

.bold {
  height: 5px !important;
}

.noZoom {
  touch-action: manipulation;
}
